{% extends "base.html" %}

{% block content %}

<div class="twelve columns">
    <div class="panel" style="">
        <h4>{{ post['judul'] }}</h4>
        <h6> {{post['tag']}}</h6>
        <p>tanggal dibuat : {{ post['tanggal_dibuat'] }} | tanggal_diubah : {{ post['tanggal_diubah'] }}</p>
        <p>{{ post['isi'] }}</p>
        <hr />
        <ul class="inline-list">
          <li><a href='/ubah_tulisan/{{post.id_note}}'><img src="/static/icon/edit.png" /></a></li>
          <li><a href='/hapus_tulisan/{{post.id_note}}'><img src="/static/icon/trash.png" /></a></li>
        </ul>
    </div>
</div>

{% endblock %}
